<nav>
  <div class="navbar">
    <i class='bx bx-menu'></i>
    <div class="logo">
      <a href="#">
        <img src=""  style="height: 29px; margin-right: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="30px" viewBox="0 0 400 400" version="1.1">
          <title>Wise</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Wise" stroke="#5D30EC" stroke-width="19">
                    <circle id="Oval" cx="130" cy="51" r="41.5"/>
                    <circle id="Oval-Copy" cx="349" cy="102" r="41.5"/>
                    <circle id="Oval-Copy-2" cx="231" cy="346" r="41.5"/>
                    <circle id="Oval-Copy-3" cx="97" cy="349" r="41.5"/>
                    <circle id="Oval-Copy-4" cx="51" cy="181" r="41.5"/>
                    <circle id="Oval-Copy-5" cx="182" cy="219" r="67.5"/>
                    <line x1="141.585004" y1="90.4902895" x2="162.166607" y2="153.29309" id="Line" stroke-linecap="square" transform="translate(152.085004, 121.990289) rotate(1.216074) translate(-152.085004, -121.990289) "/>
                    <line x1="267.585004" y1="121.490289" x2="288.166607" y2="184.29309" id="Line-Copy" stroke-linecap="square" transform="translate(278.085004, 152.990289) rotate(73.216074) translate(-278.085004, -152.990289) "/>
                    <line x1="127.369973" y1="277.891144" x2="138.37513" y2="310.435005" id="Line-Copy-2" stroke-linecap="square" transform="translate(133.293527, 294.132205) rotate(52.216074) translate(-133.293527, -294.132205) "/>
                    <line x1="106.798511" y1="190.817133" x2="111.396805" y2="204.414962" id="Line-Copy-3" stroke-linecap="square" transform="translate(109.097658, 197.616048) rotate(125.216074) translate(-109.097658, -197.616048) "/>
                    <line x1="208.798511" y1="286.817133" x2="213.396805" y2="300.414962" id="Line-Copy-4" stroke-linecap="square" transform="translate(211.097658, 293.616048) rotate(175.216074) translate(-211.097658, -293.616048) "/>
                </g>
            </g>
        </svg>
        <span style="margin-right: 5px;">Wise</span>
        <button class="logo_button">Beta</button>
      </a>
    </div>

    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">Wise</span>
        <i class='bx bx-x' ></i>
      </div>
      <ul class="links">
        <li>
          <a href="#">Features</a>
          <i class="fas fa-angle-down" style="font-size: 12px;"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="#"><i class="fas fa-text-width"></i>Text Generator <p class="features_text">Generate blog posts,tweets,</p><p class="features_text">translation and more</p></a></li>
            <li><a href="#"><i class="fas fa-robot"></i>Chatbots<p class="features_text">Conversational AI chatbots</p><p class="features_text">powered by custom data</p></a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i> Workflow<p class="features_text">Automate customizable AI</p><p class="features_text">workflows for repetitive tasks</p></a></li>
            <li><a href="#"><i class="fas fa-user-secret"></i> Auto Agents<p class="features_text">Independently perform tasts</p><p class="features_text">using the tools you provide</p></a></li>
          </ul>
        </li>
        <li>
          <a href="#">Solutions</a>
          <i class="fas fa-angle-down" style="font-size: 12px;"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="#"><i class="fas fa-bullhorn" style="color: blue;"></i> Marketing</a></li>
            <li><a href="#"><i class="fas fa-dollar-sign" style="color: blue;"></i> Sales</a></li>
            <li><a href="#"><i class="fas fa-headset" style="color: blue;"></i> Supports</a></li>
            <li><a href="#"><i class="fas fa-user" style="color: blue;"></i> Personal</a></li>
          </ul>
        </li>
        <li><a href="#">Pricing</a></li>
        <li>
          <a href="#">Resources</a>
          <i class="fas fa-angle-down"style="font-size: 12px;" style="font-size: 12px;"></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="#"><i class="fas fa-book" style="color: blue;"></i>Help Docs</a></li>
            <li><a href="#"><i class="fas fa-newspaper" style="color: blue;"></i>Blog</a></li>
            <li><a href="#"><i class="fas fa-users" style="color: blue;"></i>Community</a></li>
            <li><a href="#"><i class="fas fa-envelope" style="color: blue;"></i>Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-section right">
      <button>Launch App</button>
    </div>
  </div>
</nav>