<div class="Pre_built_apps">
  <a href="javascript:void(0)" onclick="filterApps('Recommended')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M8 14.666c-1.6 0-3.107-.626-4.24-1.76A5.961 5.961 0 0 1 2 8.666c0-1.6.627-3.106 1.76-4.24a.66.66 0 0 1 .607-.18c.22.047.4.2.486.407.007.02.167.393.574.793.186-1.253.726-2.82 2.146-3.966a.664.664 0 0 1 .887.046c.66.66 1.347 1.107 2.007 1.547.633.42 1.233.813 1.773 1.353.56.56 1 1.214 1.3 1.947a5.8 5.8 0 0 1 .453 2.3c0 .787-.153 1.56-.453 2.293a6.01 6.01 0 0 1-1.3 1.947A5.955 5.955 0 0 1 8 14.666ZM4.153 6.02a4.638 4.638 0 0 0-.82 2.646 4.64 4.64 0 0 0 1.367 3.3A4.64 4.64 0 0 0 8 13.333a4.64 4.64 0 0 0 3.3-1.367 4.645 4.645 0 0 0 1.367-3.3 4.645 4.645 0 0 0-1.367-3.3c-.447-.446-.987-.8-1.56-1.18-.547-.36-1.147-.753-1.747-1.28-1.08 1.134-1.32 2.64-1.32 3.76a.658.658 0 0 1-.96.593 4.64 4.64 0 0 1-1.546-1.24h-.014Z" clip-rule="evenodd"></path></svg><span>Recommended</span>
  </a>
  <a href="javascript:void(0)" onclick="filterApps('Models')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"><path d="M13.647 10.625a.75.75 0 0 1-.272 1.023l-6 3.5a.751.751 0 0 1-.757 0l-6-3.5a.75.75 0 0 1 .756-1.296L7 13.632l5.626-3.28a.75.75 0 0 1 1.022.273Zm-1.022-3.273L7 10.632l-5.622-3.28a.75.75 0 0 0-.753 1.296l6 3.5a.75.75 0 0 0 .756 0l6-3.5a.75.75 0 1 0-.756-1.296ZM.25 5a.75.75 0 0 1 .375-.648l6-3.5a.754.754 0 0 1 .756 0l6 3.5a.75.75 0 0 1 0 1.296l-6 3.5a.75.75 0 0 1-.756 0l-6-3.5A.75.75 0 0 1 .25 5Zm2.238 0L7 7.632 11.51 5 7 2.368 2.488 5Z"></path></svg><span>Models</span>
  </a>
  <a href="javascript:void(0)" onclick="filterApps('Text_Generator')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M10.527 1.86a2.08 2.08 0 1 1 2.943 2.942l-8.375 8.375-.04.04c-.19.192-.36.361-.563.486a2 2 0 0 1-.579.24c-.232.055-.471.055-.742.055H1.999a.667.667 0 0 1-.667-.667v-1.172c0-.271 0-.51.055-.743.05-.204.13-.399.24-.578.125-.204.294-.372.486-.564l.04-.04 8.374-8.375Zm2 .942a.748.748 0 0 0-1.057 0l-8.375 8.375c-.253.254-.3.306-.331.358a.668.668 0 0 0-.08.192c-.014.06-.019.13-.019.487v.45h.45c.358 0 .428-.004.487-.018a.667.667 0 0 0 .193-.08c.051-.032.104-.078.357-.331l8.375-8.376a.748.748 0 0 0 0-1.057Z" clip-rule="evenodd"></path><path d="M14.449 11.505c.271.249.29.67.042.942l-.667.73a2.474 2.474 0 0 1-1.825.82 2.474 2.474 0 0 1-1.825-.82 1.144 1.144 0 0 0-.842-.386c-.303 0-.607.13-.842.387a.667.667 0 1 1-.982-.902 2.477 2.477 0 0 1 1.824-.818c.697 0 1.351.302 1.825.818v.001c.235.256.539.387.842.387.303 0 .607-.13.841-.387l.667-.73a.667.667 0 0 1 .942-.042Z"></path></svg><span>Writing</span>
  </a>
  <a href="javascript:void(0)" onclick="filterApps('Copywriting')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M4.833 5.336c0-.368.299-.667.667-.667h5a.667.667 0 1 1 0 1.334h-5a.667.667 0 0 1-.667-.667ZM4.833 8.003c0-.369.299-.667.667-.667H9a.667.667 0 0 1 0 1.333H5.5a.667.667 0 0 1-.667-.666ZM4.833 10.833c0-.368.299-.666.667-.666H8A.667.667 0 1 1 8 11.5H5.5a.667.667 0 0 1-.667-.667Z"></path><path fill-rule="evenodd" d="M5.34 1.336h5.32c.537 0 .98 0 1.341.03.375.03.72.096 1.043.26.502.256.91.664 1.165 1.166.165.324.23.668.261 1.043.03.36.03.803.03 1.34v5.82c0 .536 0 .979-.03 1.34-.03.374-.096.719-.26 1.042-.256.502-.664.91-1.166 1.166-.324.165-.668.23-1.043.26-.36.03-.803.03-1.34.03H5.339c-.537 0-.98 0-1.34-.03-.375-.03-.72-.096-1.043-.26a2.667 2.667 0 0 1-1.165-1.166c-.165-.323-.23-.668-.262-1.042-.029-.361-.029-.804-.029-1.34v-5.82c0-.537 0-.98.03-1.34.03-.375.096-.72.26-1.043.256-.502.664-.91 1.166-1.165.324-.165.668-.231 1.043-.262.36-.03.803-.03 1.34-.03ZM4.106 2.694c-.292.024-.441.067-.546.12-.25.128-.455.332-.582.583-.053.105-.097.254-.12.546-.025.3-.026.689-.026 1.26v5.764c0 .57 0 .959.025 1.259.024.292.068.442.12.546.128.25.332.455.583.583.105.053.254.096.546.12.3.024.689.025 1.26.025h5.266c.571 0 .96 0 1.26-.025.292-.024.441-.067.546-.12.25-.128.454-.332.582-.583.053-.104.097-.254.12-.546.025-.3.026-.688.026-1.26V5.204c0-.571 0-.96-.025-1.26-.024-.292-.067-.441-.12-.546a1.333 1.333 0 0 0-.583-.582c-.105-.054-.254-.097-.546-.12-.3-.025-.689-.026-1.26-.026H5.367c-.571 0-.96 0-1.26.025Z" clip-rule="evenodd"></path></svg><span>Copywriting</span>
  </a>
  <a href="javascript:void(0)" onclick="filterApps('Image')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"><path d="M13.647 10.625a.75.75 0 0 1-.272 1.023l-6 3.5a.751.751 0 0 1-.757 0l-6-3.5a.75.75 0 0 1 .756-1.296L7 13.632l5.626-3.28a.75.75 0 0 1 1.022.273Zm-1.022-3.273L7 10.632l-5.622-3.28a.75.75 0 0 0-.753 1.296l6 3.5a.75.75 0 0 0 .756 0l6-3.5a.75.75 0 1 0-.756-1.296ZM.25 5a.75.75 0 0 1 .375-.648l6-3.5a.754.754 0 0 1 .756 0l6 3.5a.75.75 0 0 1 0 1.296l-6 3.5a.75.75 0 0 1-.756 0l-6-3.5A.75.75 0 0 1 .25 5Zm2.238 0L7 7.632 11.51 5 7 2.368 2.488 5Z"></path></svg><span>Image</span>
  </a>
  <a href="javascript:void(0)" onclick="filterApps('Business')" class="link_but">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" d="M7.53 3.784a.335.335 0 0 0-.254-.032l-5.1 1.391a.665.665 0 0 1-.35-1.283l5.1-1.391c.427-.116.881-.059 1.265.16l2.83 1.618a.335.335 0 0 0 .222.04l2.171-.362c.62-.103 1.21.304 1.334.92l.3 1.499c.132.663-.326 1.3-.998 1.384l-3.166.396a1.665 1.665 0 0 1-.951-.163l-2.398-1.2a.335.335 0 0 0-.231-.025l-1.642.41a.665.665 0 1 1-.322-1.29l1.64-.41a1.665 1.665 0 0 1 1.15.126l2.398 1.2c.059.029.125.04.191.032l2.99-.374-.234-1.167-2.013.336a1.665 1.665 0 0 1-1.1-.197L7.53 3.784ZM8.97 12.716a.335.335 0 0 0 .254.032l5.1-1.391a.665.665 0 0 1 .35 1.283l-5.1 1.391c-.427.116-.881.059-1.265-.16l-2.83-1.618a.335.335 0 0 0-.222-.04l-2.171.362a1.165 1.165 0 0 1-1.334-.92l-.3-1.498c-.132-.664.327-1.301.998-1.385l3.166-.396c.326-.04.657.016.951.163l2.398 1.2a.335.335 0 0 0 .231.025l1.642-.41a.665.665 0 1 1 .322 1.29l-1.64.41a1.665 1.665 0 0 1-1.15-.126l-2.398-1.2a.335.335 0 0 0-.191-.032l-2.99.374.234 1.167 2.013-.336c.379-.063.767.007 1.1.197l2.831 1.618Z" clip-rule="evenodd"></path></svg><span>Business</span>
  </a>
  <a href="javascript:void(0)" target="_blank" class="link_but">
    <span>Browse all</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.333" d="m4 12 8-8m0 0H6.667M12 4v5.333"></path></svg>
  </a>
</div>

<!-- #app_cards -->
<div class="room">
  <% @wise_apps.each do | app| %>
  <section>
    <div class="card">
      <figure class="card-img">
        <%= image_tag app.icon if app.icon.attached? %>
        <span class="number"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" fill="currentColor" class="mr-1"><path fill-opacity="0.8" d="M5.7 11a4.5 4.5 0 0 1-3.18-7.68.5.5 0 0 1 .815.18c.107.223.253.426.43.6A4.62 4.62 0 0 1 5.38 1.11a.5.5 0 0 1 .665.035c.459.437.961.826 1.5 1.16.475.286.92.621 1.325 1 .427.415.767.911 1 1.46a.5.5 0 0 1-.925.38 3.5 3.5 0 0 0-.745-1.12 7.395 7.395 0 0 0-1.17-.885c-.465-.289-.91-.61-1.33-.96A4.04 4.04 0 0 0 4.7 5a.5.5 0 0 1-.725.445 3.47 3.47 0 0 1-1.16-.945A3.5 3.5 0 0 0 5.7 10c.312 0 .624-.041.925-.125a.5.5 0 0 1 .26.965c-.386.106-.785.16-1.185.16Z"></path><path fill-opacity="0.8" d="M8.7 10a.5.5 0 0 1-.5-.5v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 1 1 1 0v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-.5.5Z"></path></svg><%= app.numbers_of_app %></span>
      </figure>
      <div class="cardbody">
        <h2 class="card-title"><%= app.app_name %></h2>
        <p class="card-text"><%= app.description %></p>
      </div>
      <div class="myDIV"><button class="chatbotss"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 16 16"><path d="M4.833 5.336c0-.368.299-.667.667-.667h5a.667.667 0 1 1 0 1.334h-5a.667.667 0 0 1-.667-.667ZM4.833 8.003c0-.369.299-.667.667-.667H9a.667.667 0 0 1 0 1.333H5.5a.667.667 0 0 1-.667-.666ZM4.833 10.833c0-.368.299-.666.667-.666H8A.667.667 0 1 1 8 11.5H5.5a.667.667 0 0 1-.667-.667Z"></path><path fill-rule="evenodd" d="M5.34 1.336h5.32c.537 0 .98 0 1.341.03.375.03.72.096 1.043.26.502.256.91.664 1.165 1.166.165.324.23.668.261 1.043.03.36.03.803.03 1.34v5.82c0 .536 0 .979-.03 1.34-.03.374-.096.719-.26 1.042-.256.502-.664.91-1.166 1.166-.324.165-.668.23-1.043.26-.36.03-.803.03-1.34.03H5.339c-.537 0-.98 0-1.34-.03-.375-.03-.72-.096-1.043-.26a2.667 2.667 0 0 1-1.165-1.166c-.165-.323-.23-.668-.262-1.042-.029-.361-.029-.804-.029-1.34v-5.82c0-.537 0-.98.03-1.34.03-.375.096-.72.26-1.043.256-.502.664-.91 1.166-1.165.324-.165.668-.231 1.043-.262.36-.03.803-.03 1.34-.03ZM4.106 2.694c-.292.024-.441.067-.546.12-.25.128-.455.332-.582.583-.053.105-.097.254-.12.546-.025.3-.026.689-.026 1.26v5.764c0 .57 0 .959.025 1.259.024.292.068.442.12.546.128.25.332.455.583.583.105.053.254.096.546.12.3.024.689.025 1.26.025h5.266c.571 0 .96 0 1.26-.025.292-.024.441-.067.546-.12.25-.128.454-.332.582-.583.053-.104.097-.254.12-.546.025-.3.026-.688.026-1.26V5.204c0-.571 0-.96-.025-1.26-.024-.292-.067-.441-.12-.546a1.333 1.333 0 0 0-.583-.582c-.105-.054-.254-.097-.546-.12-.3-.025-.689-.026-1.26-.026H5.367c-.571 0-.96 0-1.26.025Z" clip-rule="evenodd"></path></svg>&nbsp;Chatbot</button></div>
      <div class="hide"><button class="use_this_app"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><g fill="currentColor" clip-path="url(#star_svg__a)"><path d="M2.626.583c.322 0 .583.261.583.583v.875h.875a.583.583 0 1 1 0 1.167h-.875v.875a.583.583 0 1 1-1.167 0v-.875h-.875a.583.583 0 0 1 0-1.167h.875v-.875c0-.322.261-.583.584-.583Z"></path><path fill-rule="evenodd" d="M7.584 1.166c.241 0 .458.149.544.374L9.14 4.17c.175.456.23.587.306.693.075.107.168.2.274.275.106.075.238.13.693.306l2.63 1.011a.583.583 0 0 1 0 1.09l-2.63 1.01c-.455.176-.587.231-.693.306-.106.076-.199.169-.274.275-.076.106-.13.237-.306.693l-1.012 2.63a.583.583 0 0 1-1.088 0L6.028 9.83c-.175-.456-.23-.587-.306-.693a1.167 1.167 0 0 0-.274-.275c-.106-.075-.238-.13-.693-.305l-2.63-1.012a.583.583 0 0 1 0-1.089l2.63-1.011c.455-.176.587-.23.693-.306.106-.076.199-.168.274-.275.076-.106.13-.237.306-.693L7.04 1.54a.583.583 0 0 1 .544-.374Zm0 2.209-.467 1.214-.023.06c-.142.37-.25.65-.42.89a2.333 2.333 0 0 1-.55.55c-.241.171-.52.279-.89.42l-.06.024L3.959 7l1.215.467.06.023c.37.142.649.25.89.42.212.152.398.337.55.55.17.241.278.52.42.89l.023.06.467 1.215.467-1.215.023-.06c.142-.37.25-.649.42-.89.152-.213.338-.398.55-.55.241-.17.52-.278.89-.42l.06-.023L11.21 7l-1.215-.467-.06-.023c-.37-.142-.649-.25-.89-.421a2.333 2.333 0 0 1-.55-.55c-.17-.24-.278-.52-.42-.89l-.023-.06-.467-1.214Z" clip-rule="evenodd"></path><path d="M2.626 9.333c.322 0 .583.261.583.583v.875h.875a.583.583 0 0 1 0 1.167h-.875v.875a.583.583 0 1 1-1.167 0v-.875h-.875a.583.583 0 0 1 0-1.167h.875v-.875c0-.322.261-.583.584-.583Z"></path></g><defs><clipPath id="star_svg__a"><path fill="currentColor" d="M0 0h14v14H0z"></path></clipPath></defs></svg>&nbsp;Use this app</button></div>
    </div>
  </section>
  <% end %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.link_but').on('click', function(e) {
      e.preventDefault();

      var appType = $(this).attr('onclick').match(/filterApps\('(.*?)'\)/)[1];
      $.ajax({
        url: '/anakin',
        type: 'GET',
        dataType: 'html',
        data: { app_type: appType },
        success: function(data) {
          let $data = $(data);
          let $filteredElement = $data.filter('.room');
          $('.room').empty();
          $('.room').html($filteredElement[0]);
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    });
  });
</script>