<!-- #header -->
<%= render 'navbar' %>
<br>
<!-- #home page one_stop -->
<div class="one_stop">
  <div class="cont">
    <h>One-Stop AI App Platform</h>
  </div>
  <p class="paragraph">Generate Content, Images, Videos, and Voice; Craft Automated Workflows, Custom AI Apps, and Intelligent Agents
    <div class="para">
      <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none"><path fill="url(#a)" d="M10 19.5 7.5 14 2 11.5 7.5 9 10 3.5 12.5 9l5.5 2.5-5.5 2.5-2.5 5.5Zm8 2-1.25-2.75L14 17.5l2.75-1.25L18 13.5l1.25 2.75L22 17.5l-2.75 1.25L18 21.5Z" style="mix-blend-mode: multiply;"></path><defs><linearGradient id="a" x1="9.5" x2="18.5" y1="4" y2="21.5" gradientUnits="userSpaceOnUse"><stop stop-color="#FFBF00"></stop><stop stop-color="#FFC003"></stop><stop offset="0.48" stop-color="#FE4CC3"></stop><stop offset="1" stop-color="#FF03D5"></stop><stop offset="1" stop-color="#FF0381"></stop></linearGradient></defs></svg>Your exclusive AI app customization workstation</span>
    </div>
  </p>
  <div class="Launch_app">
    <button class="Launch">Launch App</button>
    <button class="Launch_app_download"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M21.375 14.25v5.25a1.875 1.875 0 0 1-1.875 1.875h-15A1.875 1.875 0 0 1 2.625 19.5v-5.25a1.125 1.125 0 0 1 2.25 0v4.875h14.25V14.25a1.125 1.125 0 1 1 2.25 0Zm-10.17.796a1.125 1.125 0 0 0 1.593 0l3.75-3.75a1.127 1.127 0 1 0-1.594-1.594l-1.829 1.83V3.75a1.125 1.125 0 1 0-2.25 0v7.781l-1.83-1.827a1.127 1.127 0 0 0-1.593 1.594l3.752 3.748Z"></path></svg>Download</button>
  </div>
  <div class="linux_apple"
  style="
  text-align: -webkit-center;
  margin-left: 160px;
  --tw-text-opacity: 1;
  color: rgb(203 208 234/var(--tw-text-opacity));
  font-size: 25px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 33 32" class="w-6 h-6"><path fill="currentColor" d="M17.593 9.333a1 1 0 0 0-.817.983v4.94a1 1 0 0 0 1 1h5.953a1 1 0 0 0 1-1v-6.05a1 1 0 0 0-1.183-.983l-5.953 1.11Zm-.817 14.37a1 1 0 0 0 .82.984l5.953 1.092a1 1 0 0 0 1.18-.984v-6.05a1 1 0 0 0-1-1h-5.953a1 1 0 0 0-1 1v4.959Zm-9.462-8.449a1 1 0 0 0 1 1h5.568a1 1 0 0 0 1-1v-4.343a1 1 0 0 0-1.163-.987l-5.568.923a1 1 0 0 0-.837.987v3.42Zm0 6.956a1 1 0 0 0 .84.987l5.568.907a1 1 0 0 0 1.16-.987v-4.372a1 1 0 0 0-1-1H8.314a1 1 0 0 0-1 1v3.465Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 33 32" class="w-6 h-6"><path fill="currentColor" d="M22.748 16.078c-.01-1.665.745-2.92 2.268-3.845-.852-1.22-2.141-1.892-3.84-2.021-1.61-.127-3.37.937-4.014.937-.681 0-2.239-.893-3.464-.893-2.53.039-5.218 2.016-5.218 6.04 0 1.189.218 2.417.652 3.681.581 1.665 2.676 5.745 4.861 5.679 1.143-.027 1.95-.81 3.438-.81 1.442 0 2.19.81 3.464.81 2.205-.032 4.1-3.74 4.65-5.41-2.956-1.394-2.797-4.082-2.797-4.168Z"></path><path fill="currentColor" d="M20.18 8.632c1.238-1.47 1.126-2.807 1.09-3.288-1.095.063-2.36.744-3.08 1.582-.793.898-1.26 2.01-1.159 3.261 1.182.09 2.26-.517 3.15-1.555Z"></path></svg>
  </div>
</div>

<!-- #aap_links -->
<div class="container">
  <svg class="line-svg" xmlns="http://www.w3.org/2000/svg" width="41" height="2" fill="none">
    <path stroke="url(#svgGradient)" d="M0.5 1h40" opacity="0.5"></path>
    <defs>
      <linearGradient id="svgGradient" x1="0.5" x2="40.5" y1="1" y2="1" gradientUnits="userSpaceOnUse">
        <stop stop-color="#CBD0EA" stop-opacity="0"></stop>
        <stop offset="1" stop-color="#CBD0EA"></stop>
      </linearGradient>
    </defs>
  </svg>
  <p>One place to use them all</p>
  <svg class="line-svg" xmlns="http://www.w3.org/2000/svg" width="41" height="2" fill="none">
    <path stroke="url(#svgGradient)" d="M0.5 1h40" opacity="0.5"></path>
    <defs>
      <linearGradient id="svgGradient" x1="0.5" x2="40.5" y1="1" y2="1" gradientUnits="userSpaceOnUse">
        <stop stop-color="#CBD0EA" stop-opacity="0"></stop>
        <stop offset="1" stop-color="#CBD0EA"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>

<div class="app-links">
  <a href="/apps/chat-gpt-1344" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path fill="#1BA57C" d="M0 8c0-2.8 0-4.2.545-5.27A5 5 0 0 1 2.73.545C3.8 0 5.2 0 8 0h2c2.8 0 4.2 0 5.27.545a5 5 0 0 1 2.185 2.185C18 3.8 18 5.2 18 8v2c0 2.8 0 4.2-.545 5.27a5 5 0 0 1-2.185 2.185C14.2 18 12.8 18 10 18H8c-2.8 0-4.2 0-5.27-.545A5 5 0 0 1 .545 15.27C0 14.2 0 12.8 0 10V8Z"/><path fill="#fff" fill-rule="evenodd" d="M15.078 7.729c.32-.953.21-2-.306-2.863a3.597 3.597 0 0 0-3.849-1.694 3.632 3.632 0 0 0-3.408-1.095A3.574 3.574 0 0 0 4.847 4.44a3.532 3.532 0 0 0-2.363 1.693 3.485 3.485 0 0 0 .44 4.137c-.32.953-.21 1.994.301 2.863a3.604 3.604 0 0 0 3.854 1.693 3.567 3.567 0 0 0 2.668 1.175c1.557 0 2.938-.992 3.414-2.453a3.543 3.543 0 0 0 2.362-1.694 3.502 3.502 0 0 0-.44-4.126h-.005ZM13.19 4.486a2.609 2.609 0 0 1 1.1 2.596v.01l-.084-.05-2.823-1.623a.462.462 0 0 0-.466 0L7.465 7.383V6.021s0-.03.015-.035l2.858-1.624a2.685 2.685 0 0 1 2.848.124h.005ZM9 7.25l1.542.874V9.87l-1.537.874-1.541-.874V8.124L9 7.25ZM5.598 5.547c0-1.017.6-1.94 1.531-2.375a2.688 2.688 0 0 1 2.828.36l-.085.05-2.823 1.61a.453.453 0 0 0-.23.394v3.92l-1.196-.677a.041.041 0 0 1-.02-.034V5.547h-.005ZM3.285 6.593v.015c.315-.533.811-.943 1.397-1.15V8.77c0 .163.085.316.23.395L8.35 11.12l-1.197.681s-.03.005-.04 0l-2.858-1.624a2.603 2.603 0 0 1-.976-3.579l.005-.005Zm.746 6.082a2.574 2.574 0 0 1-.315-1.758l.085.05 2.828 1.61c.14.083.32.083.46 0l3.454-1.966v1.363s-.01.03-.02.034l-2.863 1.63c-1.272.72-2.898.29-3.63-.963Zm8.369-.217c0 1.446-1.191 2.616-2.658 2.62-.62 0-1.221-.211-1.702-.606l.085-.05 2.823-1.609a.453.453 0 0 0 .23-.395v-3.93l1.197.682s.02.015.02.03v3.258h.005Zm2.658-2.143a2.617 2.617 0 0 1-1.722 2.236V9.24a.459.459 0 0 0-.24-.39L9.647 6.875l1.191-.677s.03-.005.04 0l2.858 1.63a2.615 2.615 0 0 1 1.322 2.487Z" clip-rule="evenodd"/>
    </svg><span>GPT-3.5 & GPT-4</span>
  </a>
  <a href="/apps/claude-15108" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">
      <rect width="18" height="18" fill="#E6AE89" rx="5"></rect>
      <path fill="#261D17" d="M12.097 3.5H9.954L13.856 14H16L12.097 3.5Zm-6.194 0L2 14h2.188l.787-2.205H9.07L9.866 14h2.188L8.143 3.5h-2.24Zm-.21 6.344 1.33-3.693L8.36 9.844H5.692Z"></path>
    </svg><span>Claude 2 & Claude 3</span>
  </a>
  <a href="/apps/stable-diffusion-image-generator-15385" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff">
      <path d="M0 8c0-2.8 0-4.2.545-5.27A5 5 0 0 1 2.73.545C3.8 0 5.2 0 8 0h2c2.8 0 4.2 0 5.27.545a5 5 0 0 1 2.185 2.185C18 3.8 18 5.2 18 8v2c0 2.8 0 4.2-.545 5.27a5 5 0 0 1-2.185 2.185C14.2 18 12.8 18 10 18H8c-2.8 0-4.2 0-5.27-.545A5 5 0 0 1 .545 15.27C0 14.2 0 12.8 0 10V8Z"></path>
      <g clip-path="url(#icon-dalle_svg__a)">
        <path fill="#1D2447" fill-rule="evenodd" d="M15.946 7.443a3.839 3.839 0 0 0-.349-3.228c-.887-1.497-2.66-2.27-4.399-1.909C10.22 1.25 8.733.781 7.302 1.071c-1.43.295-2.59 1.308-3.049 2.666a4.034 4.034 0 0 0-2.7 1.909 3.888 3.888 0 0 0 .504 4.664 3.86 3.86 0 0 0 .343 3.228c.887 1.497 2.666 2.27 4.405 1.91a4.101 4.101 0 0 0 3.049 1.324c1.779 0 3.358-1.119 3.901-2.766a4.047 4.047 0 0 0 2.7-1.91 3.907 3.907 0 0 0-.503-4.653h-.006Zm-2.157-3.656a2.925 2.925 0 0 1 1.259 2.927v.011l-.097-.055-3.227-1.831a.534.534 0 0 0-.532 0L7.245 7.054V5.518s0-.034.017-.04l3.267-1.83a3.104 3.104 0 0 1 3.255.139h.005ZM9.001 6.904l1.762.985v1.97l-1.756.985-1.762-.985v-1.97l1.756-.985Zm-3.89-1.92c0-1.147.687-2.188 1.751-2.678a3.106 3.106 0 0 1 3.232.406l-.097.056L6.77 4.583a.51.51 0 0 0-.263.445v4.42L5.14 8.684a.047.047 0 0 1-.023-.04V4.984h-.005ZM2.47 6.163v.016a3.027 3.027 0 0 1 1.596-1.297v3.735c0 .184.097.356.263.445l3.93 2.204-1.367.768s-.035.006-.046 0l-3.267-1.83c-1.452-.82-1.95-2.622-1.115-4.036l.006-.006Zm.852 6.856a2.869 2.869 0 0 1-.36-1.981l.097.056 3.232 1.814c.16.095.366.095.526 0l3.947-2.215v1.536s-.011.034-.023.039l-3.272 1.837c-1.453.812-3.312.328-4.147-1.086Zm9.565-.245c0 1.631-1.362 2.95-3.038 2.956-.71 0-1.396-.24-1.945-.685L8 14.991l3.227-1.815a.51.51 0 0 0 .263-.445v-4.43l1.367.768s.023.016.023.033v3.673h.006Zm3.037-2.415a2.957 2.957 0 0 1-1.968 2.521V9.147a.516.516 0 0 0-.274-.44L9.739 6.48l1.362-.763s.034-.006.046 0l3.266 1.837c1.018.573 1.607 1.664 1.51 2.805Z" clip-rule="evenodd"></path>
      </g>
    </svg><span>Stable Diffusion</span>
  </a>
  <a href="/apps/free-dall-e-3-ai-image-generator-15594" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="#030405">
      <rect width="16.5" height="16.5" x="0.25" y="0.75" fill="#030405" rx="3"></rect>
      <path fill="#076EFF" d="M8.5 16.06C8.5 12.16 5.338 9 1.44 9c3.9 0 7.061-3.162 7.061-7.062C8.5 5.838 11.662 9 15.561 9a7.062 7.062 0 0 0-7.06 7.061Z"></path>
    </svg><span>DALL-E</span>
  </a>
  <a href="/apps/mixtral-16418" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
      <path fill="#F86D01" d="M1.5 2.545h4.27v2.654h2.653v2.769h1.154v-2.77h2.654V2.546H16.5V16.16h-4.27v-5.307l-1.153-.116v2.77H6.923v-2.77l-1.154.116v5.307H1.5V2.545Z"></path><path fill="#FEA200" d="M13.732 2.545h2.77v8.077h-5.424V5.314h2.654v-2.77Z"></path><path fill="#FDA200" d="M3 2.545h2.77v2.654h2.653v2.769l-.115.115h-2.77v2.539H3V2.545Z"></path><path fill="#262220" d="M1.5 2.545H3V16.16H1.5V2.545Z"></path><path fill="#FE040F" d="M13.73 10.736h2.77v5.423h-2.77v-5.423ZM3 10.736h2.654l.115.116v5.307H3v-5.423Z"></path><path fill="#FE7000" d="M11.078 7.969h5.423v2.654h-5.423V7.969Z"></path><path fill="#242020" d="M12.346 10.736h1.384v5.423h-1.5v-5.307l.116-.116Z"></path><path fill="#FA490A" d="M8.309 10.736h2.769v2.77h-2.77v-2.77Z"></path><path fill="#FECB00" d="M13.73 2.545h2.77v2.77h-2.77v-2.77ZM3 2.545h2.77v2.654l-.116.115H3v-2.77Z"></path><path fill="#FE490A" d="M13.73 10.736h2.77v2.654h-2.77v-2.654Z"></path><path fill="#FE4909" d="M3 10.736h2.654l.115.116v2.538H3v-2.654Z"></path><path fill="#FE7100" d="M3 7.969h5.308v.115h-2.77v2.539H3V7.969Z"></path><path fill="#252420" d="M12.23 2.545h1.5v2.77h-1.384l-.116-.116V2.545Z"></path><path fill="#202020" d="M6.922 10.736h1.384v2.77H6.922v-2.77Z"></path><path fill="#1F2021" d="M9.578 5.2h1.385v2.768H9.578V5.2Z"></path>
    </svg><span>Mistral</span>
  </a>
  <a href="/apps?category=54" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><g clip-path="url(#icon-meta_svg__a)">
      <path fill="#1080F8" d="M.5.5h17v17H.5z"></path><path fill="#fff" d="M9.181 6.758c-1.078-1.373-1.98-1.897-3.06-1.897-2.2 0-3.887 2.864-3.887 5.896 0 1.897.918 3.093 2.455 3.093 1.107 0 1.902-.521 3.317-2.994L9 9.097c.142.23.292.477.45.742l.663 1.116c1.292 2.162 2.012 2.895 3.316 2.895 1.498 0 2.33-1.213 2.33-3.149 0-3.174-1.723-5.84-3.818-5.84-1.109 0-1.976.836-2.76 1.897Zm2.075 3.202-.794-1.323c-.214-.349-.42-.67-.618-.963.714-1.104 1.304-1.653 2.005-1.653 1.457 0 2.623 2.145 2.623 4.78 0 1.003-.33 1.586-1.01 1.586-.654 0-.966-.431-2.207-2.427Zm-7.559.821c0-2.2 1.098-4.45 2.406-4.45.708 0 1.3.409 2.207 1.707-.861 1.32-1.383 2.148-1.383 2.148-1.147 1.798-1.543 2.201-2.182 2.201-.657 0-1.048-.577-1.048-1.606Z"></path></g><defs><clipPath id="icon-meta_svg__a"><rect width="17" height="17" x="0.5" y="0.5" fill="#fff" rx="3.778"></rect></clipPath></defs>
    </svg><span>Meta Llama</span>
  </a>
  <a href="/apps?category=54" target="_blank" class="link-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><g clip-path="url(#icon-bard_svg__a)">
      <path fill="url(#icon-bard_svg__b)" d="m8.601 11.977-.69 1.582a.744.744 0 0 1-1.372 0l-.69-1.582a6.09 6.09 0 0 0-3.1-3.14L.847 7.994c-.605-.269-.605-1.148 0-1.416l1.84-.817a6.095 6.095 0 0 0 3.146-3.245l.7-1.686a.744.744 0 0 1 1.382 0l.7 1.686A6.095 6.095 0 0 0 11.76 5.76l1.84.817c.605.268.605 1.147 0 1.416l-1.9.843a6.091 6.091 0 0 0-3.1 3.14Z"></path><path fill="url(#icon-bard_svg__c)" d="m15.013 16.961-.194.445a.399.399 0 0 1-.736 0l-.194-.445a3.434 3.434 0 0 0-1.747-1.77l-.599-.266a.417.417 0 0 1 0-.758l.565-.251a3.437 3.437 0 0 0 1.773-1.83l.2-.481a.399.399 0 0 1 .74 0l.2.48c.34.821.975 1.476 1.773 1.831l.565.25a.417.417 0 0 1 0 .759l-.599.265a3.434 3.434 0 0 0-1.747 1.771Z"></path></g><defs><radialGradient id="icon-bard_svg__b" cx="0" cy="0" r="1" gradientTransform="rotate(78.858 .716 10.715) scale(10.6651 10.6703)" gradientUnits="userSpaceOnUse"><stop stop-color="#3DF"></stop><stop offset="0" stop-color="#1BA1E3"></stop><stop offset="0.3" stop-color="#599BFB"></stop><stop offset="0.546" stop-color="#B07CEC"></stop><stop offset="0.825" stop-color="#D96570"></stop><stop offset="1" stop-color="#FFAF61"></stop></radialGradient><radialGradient id="icon-bard_svg__c" cx="0" cy="0" r="1" gradientTransform="rotate(78.858 .715 10.71) scale(10.6651 10.6703)" gradientUnits="userSpaceOnUse"><stop stop-color="#1BC2E3"></stop><stop offset="0" stop-color="#1BA1E3"></stop><stop offset="0.3" stop-color="#5489D6"></stop><stop offset="0.546" stop-color="#9B72CB"></stop><stop offset="0.825" stop-color="#D96570"></stop><stop offset="1" stop-color="#FFA955"></stop></radialGradient><clipPath id="icon-bard_svg__a"><path fill="#fff" d="M.344.346h17.308v17.308H.344z"></path></clipPath></defs>
    </svg><span>Bard</span>
  </a>
  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><g fill="#7F85A3">
    <path d="M1.75 7a1.167 1.167 0 1 1 2.333 0A1.167 1.167 0 0 1 1.75 7ZM5.833 7a1.167 1.167 0 1 1 2.334 0 1.167 1.167 0 0 1-2.334 0ZM9.917 7a1.167 1.167 0 1 1 2.333 0 1.167 1.167 0 0 1-2.333 0Z"></path></g>
  </svg>
</div><br><br>
 
 <!-- #header-slider -->
<div class="header-slider">
    <div class="header-container">
        <div class="header" onclick="showSlide(0)"><svg xmlns="http://www.w3.org/2000/svg" width="1.15em" height="1.15em" fill="none" viewBox="0 0 16 19"><path fill="currentColor" d="M3.333 5.833c0-.46.373-.833.834-.833h7.666a.833.833 0 1 1 0 1.666H4.167a.833.833 0 0 1-.834-.833ZM3.333 9.166c0-.46.373-.833.834-.833h6a.833.833 0 0 1 0 1.667h-6a.833.833 0 0 1-.834-.834ZM3.333 12.5c0-.46.373-.834.834-.834h1.666a.833.833 0 0 1 0 1.667H4.167a.833.833 0 0 1-.834-.833Z"></path><path fill="currentColor" fill-rule="evenodd" d="M4.799.833H11.2c.67 0 1.224 0 1.675.037.469.038.9.12 1.304.326.627.32 1.137.83 1.457 1.457.206.404.288.835.326 1.303C16 4.407 16 4.961 16 5.632v7.735c0 .671 0 1.225-.037 1.676-.038.468-.12.899-.326 1.303a3.334 3.334 0 0 1-1.457 1.457c-.405.206-.835.288-1.303.326-.452.037-1.005.037-1.676.037H4.8c-.67 0-1.225 0-1.676-.037-.468-.038-.899-.12-1.303-.326a3.333 3.333 0 0 1-1.457-1.457c-.206-.404-.288-.835-.326-1.303C0 14.592 0 14.038 0 13.367V5.632c0-.67 0-1.225.037-1.676.038-.468.12-.899.326-1.303.32-.627.83-1.137 1.457-1.457C2.224.99 2.655.908 3.123.87 3.574.833 4.128.833 4.8.833Zm-1.54 1.698c-.365.03-.552.084-.682.15-.314.16-.569.415-.729.729-.066.13-.12.317-.15.682-.03.375-.031.86-.031 1.574v7.667c0 .714 0 1.2.031 1.574.03.366.084.552.15.683.16.313.415.568.729.728.13.066.317.12.682.15.375.031.86.032 1.574.032h6.334c.713 0 1.199-.001 1.574-.032.365-.03.552-.084.682-.15.314-.16.569-.415.729-.728.066-.13.12-.317.15-.683.03-.375.031-.86.031-1.574V5.666c0-.713 0-1.199-.031-1.574-.03-.365-.084-.552-.15-.682a1.667 1.667 0 0 0-.729-.729c-.13-.066-.317-.12-.682-.15-.375-.03-.86-.031-1.574-.031H4.833c-.713 0-1.199 0-1.574.031Z" clip-rule="evenodd"></path></svg>&nbsp;Text Generator</div>
        <div class="header" onclick="showSlide(1)"><svg xmlns="http://www.w3.org/2000/svg" width="1.15em" height="1.15em" fill="none" viewBox="0 0 21 20"><path fill="currentColor" d="M10.813 1.563a8.134 8.134 0 0 0-8.126 8.124v6.589a1.538 1.538 0 0 0 1.537 1.537h6.588a8.125 8.125 0 1 0 0-16.25Zm0 14.374h-6.25v-6.25a6.25 6.25 0 1 1 6.25 6.25Z"></path><rect width="2" height="5" x="11.5" y="7" fill="currentColor" rx="1"></rect><rect width="2" height="5" x="7.5" y="7" fill="currentColor" rx="1"></rect></svg>&nbsp;Chatbot</div>
        <div class="header" onclick="showSlide(2)"><svg xmlns="http://www.w3.org/2000/svg" width="1.15em" height="1.15em" fill="none" viewBox="0 0 17 18"><path fill="currentColor" fill-rule="evenodd" d="M3.083 6.084a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0Zm2.5-.834a.833.833 0 1 0 0 1.667.833.833 0 0 0 0-1.667Z" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M4.965.667h7.069c.67 0 1.224 0 1.675.037.469.038.9.12 1.304.326.627.32 1.137.83 1.456 1.457.206.404.289.835.327 1.303.037.451.037 1.005.037 1.676v7.069c0 .67 0 1.224-.037 1.675-.038.469-.12.9-.327 1.304a3.333 3.333 0 0 1-1.456 1.456c-.405.206-.835.289-1.304.327-.45.037-1.004.037-1.675.037h-7.79c-.225 0-.446 0-.625-.016l-.02-.002a8.62 8.62 0 0 1-.31-.02c-.468-.037-.899-.12-1.303-.326a3.333 3.333 0 0 1-1.457-1.456c-.206-.405-.288-.835-.326-1.304-.037-.45-.037-1.004-.037-1.675v-7.07c0-.67 0-1.224.037-1.675.038-.468.12-.899.326-1.303.32-.627.83-1.137 1.457-1.457.404-.206.835-.288 1.303-.326C3.74.667 4.294.667 4.965.667Zm.034 15h-.321l6.801-6.801c.175-.175.27-.27.345-.333l.009-.007a6.812 6.812 0 0 1 .353.34l2.98 2.98v.654c0 .714 0 1.2-.031 1.575-.03.365-.084.552-.15.682-.16.314-.415.569-.729.728-.13.067-.317.12-.683.15-.375.031-.86.032-1.574.032H5Zm10.167-6.179-1.82-1.82a7.678 7.678 0 0 0-.426-.406 1.685 1.685 0 0 0-.572-.335 1.666 1.666 0 0 0-1.03 0 1.684 1.684 0 0 0-.572.335c-.133.113-.278.258-.427.406l-7.126 7.127c-.16.16-.316.316-.431.453a1.915 1.915 0 0 0-.132.174 1.667 1.667 0 0 1-.616-.665c-.066-.13-.12-.317-.15-.682-.03-.376-.031-.86-.031-1.575v-7c0-.713 0-1.199.031-1.574.03-.365.084-.552.15-.682.16-.314.415-.569.729-.729.13-.066.317-.12.682-.15.375-.03.86-.031 1.574-.031h7c.714 0 1.2 0 1.574.03.366.03.553.085.683.151.314.16.569.415.728.729.067.13.12.317.15.682.031.375.032.86.032 1.574v3.988Z" clip-rule="evenodd"></path></svg>&nbsp;Image Generator</div>
        <div class="header" onclick="showSlide(3)"><svg xmlns="http://www.w3.org/2000/svg" width="1.15em" height="1.15em" fill="none" viewBox="0 0 19 20"><path fill="currentColor" fill-rule="evenodd" d="M.332 4.166a3.333 3.333 0 1 1 6.667 0 3.333 3.333 0 0 1-6.667 0ZM3.665 2.5a1.667 1.667 0 1 0 0 3.333 1.667 1.667 0 0 0 0-3.333Z" clip-rule="evenodd"></path><path fill="currentColor" d="M12.293 5.054C11.64 5 10.729 5 9.444 5h-.362a.833.833 0 1 1 0-1.667h.404c1.234 0 2.214 0 2.943.06.372.03.715.079 1.016.164.3.085.61.22.863.46a2.5 2.5 0 0 1 .733 2.306c-.068.342-.242.631-.438.874-.197.243-.45.481-.735.72-.561.47-1.361 1.037-2.369 1.75l-3.421 2.42c-1.05.742-1.793 1.268-2.295 1.689a3.82 3.82 0 0 0-.508.49.586.586 0 0 0-.101.156.833.833 0 0 0 .242.764.587.587 0 0 0 .173.07c.152.043.375.08.699.106.652.054 1.563.054 2.849.054h.778a.833.833 0 0 1 0 1.667h-.82c-1.234 0-2.214 0-2.943-.06a5.416 5.416 0 0 1-1.017-.164c-.3-.085-.61-.22-.862-.46a2.5 2.5 0 0 1-.733-2.306c.068-.342.242-.631.438-.874.197-.243.45-.481.735-.72.56-.47 1.36-1.037 2.368-1.75l3.422-2.42c1.05-.741 1.792-1.268 2.294-1.689a3.83 3.83 0 0 0 .509-.49.586.586 0 0 0 .101-.156.833.833 0 0 0-.243-.764.588.588 0 0 0-.173-.07 3.825 3.825 0 0 0-.698-.106Z"></path><path fill="currentColor" fill-rule="evenodd" d="M11.999 15.833a3.333 3.333 0 1 1 6.666 0 3.333 3.333 0 0 1-6.666 0Zm3.333-1.667a1.667 1.667 0 1 0 0 3.334 1.667 1.667 0 0 0 0-3.334Z" clip-rule="evenodd"></path></svg>&nbsp;Workflow</div>
        <div class="header" onclick="showSlide(4)"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="currentColor"><path fill-rule="evenodd" d="M2.219 5.3A3.281 3.281 0 0 1 5.5 2.02h6.75a2.781 2.781 0 0 1 2.781 2.78v.661a.781.781 0 1 1-1.562 0v-.66c0-.673-.546-1.219-1.219-1.219H5.5c-.95 0-1.719.77-1.719 1.719V13c0 .673.546 1.219 1.219 1.219h1.04a.781.781 0 0 1 0 1.562H5a2.781 2.781 0 0 1-2.781-2.781V5.3Z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M5.969 7.5c0-1.122.91-2.031 2.031-2.031h8.125c1.122 0 2.031.91 2.031 2.031v2.813a.781.781 0 1 1-1.562 0V7.5a.469.469 0 0 0-.469-.469H8a.469.469 0 0 0-.469.469v8.75c0 .259.21.469.469.469h1.563a.781.781 0 1 1 0 1.562H8a2.031 2.031 0 0 1-2.031-2.031V7.5Z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M9.719 9.688c0-.432.35-.782.781-.782h3.438a.781.781 0 1 1 0 1.563H10.5a.781.781 0 0 1-.781-.781ZM9.719 12.813c0-.432.35-.782.781-.782h2.813a.781.781 0 0 1 0 1.563H10.5a.781.781 0 0 1-.781-.781ZM18.53 13.176a.781.781 0 0 1 .044 1.104l-3.326 3.603a1.406 1.406 0 0 1-1.987.08l-1.416-1.305a.781.781 0 1 1 1.06-1.149l1.3 1.2 3.22-3.489a.781.781 0 0 1 1.105-.044Z" clip-rule="evenodd"></path></svg>&nbsp;Batch Process</div>
        <div class="header" onclick="showSlide(5)"><svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1.25em" fill="none" viewBox="0 0 19 19"><path fill="currentColor" d="M8.501.833a.833.833 0 0 0-.833.833V2.5h-2.5a2.5 2.5 0 0 0-2.5 2.5v2.5a2.5 2.5 0 0 0 2.5 2.5h4.295l1.055-.344a1.533 1.533 0 0 0 .938-.933l.006-.02.121-.37H5.168a.833.833 0 0 1-.833-.833V5c0-.46.373-.834.833-.834h6.667c.46 0 .833.373.833.834v1.728a1.286 1.286 0 0 1 1.606.797l.003.01.05.155c.005-.063.008-.126.008-.19V5a2.5 2.5 0 0 0-2.5-2.5h-2.5v-.834A.833.833 0 0 0 8.5.833ZM2.46 11.833h6.11a1.287 1.287 0 0 0 .786 1.626l.011.004.114.037H2.46a.625.625 0 0 0-.625.625c0 1.956 2.585 2.541 4.541 2.541H11.5c.69 0 1.335-.197 1.88-.54a1.086 1.086 0 0 0 .719 1.146l.009.003.373.121a5.184 5.184 0 0 1-2.981.937H6.376c-2.876 0-6.208-1.332-6.208-4.208a2.292 2.292 0 0 1 2.292-2.292Z"></path><path fill="currentColor" d="M7.668 6.25c0 .69-.373 1.25-.833 1.25C6.375 7.5 6 6.94 6 6.25S6.374 5 6.835 5c.46 0 .833.56.833 1.25ZM11.001 6.25c0 .69-.373 1.25-.833 1.25-.46 0-.833-.56-.833-1.25S9.708 5 10.168 5c.46 0 .833.56.833 1.25ZM10.952 12.547a2.359 2.359 0 0 1 1.498 1.503l.374 1.147a.453.453 0 0 0 .856 0l.372-1.147a2.366 2.366 0 0 1 1.498-1.497l1.149-.373a.453.453 0 0 0 0-.854l-.023-.006-1.148-.374A2.364 2.364 0 0 1 14.03 9.45l-.374-1.148a.453.453 0 0 0-.855 0l-.374 1.148-.008.028a2.368 2.368 0 0 1-1.467 1.468l-1.147.374a.453.453 0 0 0 0 .854l1.147.373ZM17.68 15.804l.638.207.014.003a.252.252 0 0 1 0 .475l-.638.206a1.312 1.312 0 0 0-.833.833l-.207.637a.253.253 0 0 1-.382.12.253.253 0 0 1-.093-.12l-.208-.637a1.312 1.312 0 0 0-.832-.835l-.638-.208a.252.252 0 0 1 0-.474l.638-.207a1.314 1.314 0 0 0 .82-.833l.207-.636a.252.252 0 0 1 .475 0l.207.637a1.315 1.315 0 0 0 .833.832Z"></path></svg>&nbsp;Auto Agents</div>
    </div>
    <div class="slide active">
        <img src="./assets/text-generator" alt="Text Generator">
        <img src="./assets/chatbot" alt="Chatbot">
        <img src="./assets/image-generation" alt="Image Generator">
        <img src="./assets/workflow" alt="Workflow">
        <img src="./assets/batch-process" alt="Batch Process">
        <img src="./assets/auto-agents" alt="Auto Agents">
    </div>
</div>

<div class="Pre-built">
  <h>1000+ Pre-built AI Apps for</h>
  <h1>Any Use Case</h1>
    <p class="Pre-built_para">Thousands of specialized AI apps are ready for use in content generation, question answering, document search, and process<br> automation, etc. Choose an app as it is or customize it to meet your needs.<p>
</div>


<!-- #Pre-built AI Apps -->
<%= render 'wise_apps' %>
<br><br><br><br>


<!-- Liberate Everyone from Repetitive Work -->
<div class="border">
  <div class="card_border">
    <h3 class="text">Liberate Everyone from Repetitive Work</h3><br>
    <p class="mb-6">There are all kinds of repetitive tasks 🤯 in work that can only be solved manually, but <br><span class="text-primary">Anakin</span> liberates people from such work.</p><br>
    <p class="mb-6">Without learning code or prompts, everyone can use thousands of available<br> applications to generate content (emails, blogs, images, etc.), crawl data, produce<br> reports, and more. 🤩</p><br>
    <p class="mb-6"><span class="text-primary">Workflows </span> and <span class="text-primary">Batch Processing</span> make everything 100x faster. 🚀</p>
    <p class="mb-6">Advanced users can call various AI models, external APIs, write custom code to build<br> very powerful AI applications.</p><br>
    <p class="mb-6"><span class="text-primary">Anakin makes AI accessible to all</span>, empowering both individuals and teams to be<br> more productive. 🤖</p><br>
  </div>
</div>

<!-- Batch Operations -->
<div class="batch">
  <h class="batch_operations">Batch Operations</h>
  <p class="batch_operations_text">Using table as data source, run your Anakin Apps on hundreds or thousands of records to generate<br> content, classify or label data, extract information and more.</p><br>
  <div class="mt-16" style="opacity: 1; transform: translateY(0px);"><img alt="" loading="lazy" width="1100" height="600" decoding="async" data-nimg="1" class="mx-auto drop-shadow-3" srcset="https://assets.anakin.ai/www/_next/static/media/batch-opertions.e1068be2.webp 1x" src="https://assets.anakin.ai/www/_next/static/media/batch-opertions.e1068be2.webp" style="color: transparent;"></div>
</div>