/*batch_operations*/
h.batch_operations {
    font-size: 50px;
    color: #4060ff;
    font-weight: 700;
}
.batch {
    text-align: -webkit-center;
    padding: 106px;
}
p.batch_operations_text {
    font-size: 16px;
    color: black;
    padding: 27px;
}.mt-16{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}
.mt-16{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}