/*Liberate Everyone from Repetitive Work*/

.card_border {
  margin-left: 140px;
      margin-top: 40px;
}
p.mb-6 {
    font-size: 24px;
    color: #0a0909b0;
    font-weight: 500;
}
.text{
  color: black;
      font-size: 46px;
}
.border{
   background-color: #f0f0f045;
   border-radius: 22px;
}
